<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{link-to 'Poke-Data' 'application' class="navbar-brand"}}
    </div>

    <ul class="nav navbar-nav">
      {{#link-to 'create-team' tagName="li"}}
        {{link-to 'Create Team' 'create-team'}}
      {{/link-to}}
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
