<form {{action 'signUp' on='submit'}}>
  <label for='email'>Email</label>
  {{input value=content.email}}
  <label for='password'>Password</label>
  {{input value=content.password type='password'}}
  <label for='identification'>Password Confirmation</label>
  {{input value=content.passwordConfirmation type='password'}}
  <button type='submit'>Sign up</button>
</form>

<div>
  {{#link-to 'login'}}Sign In{{/link-to}}
</div>
