<form {{action 'signUp' on='submit'}}>
  <label for='email'>Email</label>
  {{input value=email}}
  <label for='password'>Password</label>
  {{input value=password type='password'}}
  <label for='identification'>Password Confirmation</label>
  {{input value=passwordConfirmation type='password'}}
  <button type='submit'>Sign up</button>
</form>

<div>
  {{#link-to 'sign-in'}}Sign In{{/link-to}}
</div>
