<div class="container">
  <div class="row">
    <div class="col-xs-12">
      User's Teams Page
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      Team list here
    </div>

    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
